body {
    background-color: coral;

}

body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

header, footer {
    background-color: khaki;
    width: 100%;
    height: 5%;
    top: 10px;
    left: 0;
    display: table;
    border-radius: 15px 15px 15px 15px;
}

.main {
    width: 100%;
    height: 87%;
    display: table;
}

.container, .container1 {
    width: 100%;
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.container1 {
    text-align: center;
}

.container2, .container3 {
     background: khaki;       position: absolute;
     border-radius: 15px 15px 15px 15px;
     top: 50%;
     left: 50%;
     margin: -200px 0 0 -200px;
     padding: 20px;

 }

.container2 {
    width: 200px;
    height: 350px;
  }

 .container3 {

    width: 500px;
    height: 250px;

}

.right {
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.left {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    text-align: left;
}

.left-sidebar {
    width: 15%;
    float: left;
    height: 100%;
}
.left-side {
    width: 100%;
    background: khaki;
    border-radius: 15px 15px 15px 15px;
}
.content {
    float: left;
    width: 80%;
    padding: 20px;
}